.navbar{
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: gray;
    font-size: 32px;
   padding: 15px;
   box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
   border-radius: 5px;
}
body{
    background-color: grey;
}
.section1{
display: flex;
margin-top: 5px;
background-color: grey;
height: 350px;
width: auto;

}
.spacer{
    display: flex;
margin-top: 5px;
background-color: grey;
height: 350px;
width: auto;
}
.aboutme{
display: flex;
background-color: grey;
height: 200px;
box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
border-radius: 15px;
margin-bottom: 555px;
margin-top: 555px;

}
#aboutmetext{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
}
#aboutmeimage{
    display: flex;
    
    border-radius: 50%/50%;
    margin-top: 25px;
    margin-right: 120px;
    margin-bottom: 25px;
}
.portfolio{
    display: flex;
    margin-top: 5px;
    flex: 4;
   align-items: center;
   padding: 25px;
    background-color: white;
    justify-content: center;

}
.projectText{
     text-align: center;
     font-size: 42px;
     font-weight: bold;
     background-color:rgb(161, 161, 161);
     height: 50px;
     width: auto;
     box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
}
#box{
    display: flex;
    margin: auto;
    border: 8px;
    border-radius: 18px;
    border-color: rgb(145, 145, 158);
    border-style: ridge;
    height: 150px;
    width: 150px;
}
#box1{
    display: flex;
    margin: auto;
    border: 8px;
    border-radius: 18px;
    border-color: rgb(145, 145, 158);
    border-style: ridge;
    height: 150px;
    width: 150px;
}
#box2{
    display: flex;
    margin: auto;
    border: 8px;
    border-radius: 18px;
    border-color: rgb(145, 145, 158);
    border-style: ridge;
    height: 150px;
    width: 150px;
}
#box3{
    display: flex;
    margin: auto;
    border: 8px;
    border-radius: 18px;
    border-color: rgb(145, 145, 158);
    border-style: ridge;
    height: 150px;
    width: 150px;
}
.footer{
    display: flex;
    height: 200px;
    background-color: grey;
}